h4{
  width: 112px;
  float: left;
}
a p{
  width: 350px;
  /* background-color: aqua; */
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}

.img-center{
  margin: auto;
  width: 400px;
}
.img-center img{
  max-width: 300px;
}
button{
  width: auto !important;
  float: right;
  /* text-align: right */
}


