.auth .auth-form{
  margin: auto;
  border: .5px solid #a2a2a2;
  background-color: aliceblue;
  width: 300px;
  box-shadow: 0px 16px 28px -4px #131313;
  padding: 30px;
  border-radius: 50px 0px 50px 0;
}
.auth .auth-form div.logo-img{
  width: 170px;
  margin: auto;
  /* background-color: aqua */
}
.auth .auth-form div img{
  width: 100%;
}
mat-form-field{
  width: 100%;
}
.mat-option-text{
  background-color: #415a69 !important
}


